<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>测试</title>

</head>
        <form id="index" action="{{ url_for('index') }}" method="POST">
                    申请编号：<input name = "a" type="text" value="" />
                    受理编号：<input name ="b" type= "text" value="" /></br>
                    申请时间：<input name = "c" type="text" value="" />
                    受理时间：<input name ="d" type= "text" value="" /></br>
                                <input type="submit" value = "提交">
        </form>
</body>
</html>